/*FUENTE*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif&display=swap');
/*RESET*/
*{
margin: 0;
padding: 0;
   }
/*CARTEL ARRIBA*/
#cartel{
  padding: 0 ;
  margin: 0;
  line-height: 30px;
  align-items: center;
}
#contenidos-cartel{
  display: grid;
  justify-content: space-between;
  background-color: rgb(244, 244, 244);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: #ffffff;
  grid-template-columns: 1.5fr 0.4fr 0.4fr;

}
#contenidos-cartel h1 {
font-size: 2em;
}
.temas{
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide el espacio en dos columnas de igual ancho */
  gap: 5px; /* Espacio entre elementos */
  font-weight: bold;
  font-size: 1.2vw;
}


#contenidos-cartel h2 {
  font-family: 'Noto Serif', serif;
  font-size: 1.5em;
  margin-left: 10vw;

}

#contenidos-cartel ul li {
  list-style-image: url(/images/guiones.png);
  list-style-position:inside;
  text-align: left;
  margin-left: 3vw;
  padding-top: 1vw;
  font-size: 1em;
  line-height: 3em;
}
.cartel1 {
  background-color: #ffffff;
  padding: 10px 10px 10px 10px;
  border: 0p solid rgb(244, 244, 244);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url(/images/banner_part1.png);
  background-size:100%;
  background-position:center;
  background-repeat:no-repeat;
  padding-left: 100px;
  line-height: 35px;
  
  
}
.cartel2 {
  background-color: #ffffff;
  border: 0px solid rgb(244, 244, 244);
  background-image: url(/images/banner_part2.png);
  background-size:120%;
  background-position:center;
  background-repeat:no-repeat;
  display: flex;
  align-items: last baseline;
  
}
.cartel3 {
  background-color: #ffffff;
  padding: 10px 10px 10px 10px;
  border: 0p solid rgb(244, 244, 244);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url(/images/banner_part3.png);
  background-size:100%;
  background-position:center;
  background-repeat:no-repeat;

}





/*BOTÓN DE CONTACTO*/

.contacto {
  display: grid;
  grid-template-columns: 1.7fr 0.3fr; /* Divide en dos columnas de igual ancho */
}


.boton-contact{
  margin: 30%;
  text-decoration: none;
  color: #ffffff;
  border: 5px solid rgb(254, 255, 255);
  background-color: rgb(25, 159, 161);
  border-radius: 10px;
  transition: all 0.4s;
  text-align: center;
  margin: 0.8vw;
}
.boton-contact a{
  text-decoration: none;
  color: #ffffff;
  font-size: 1vw;

}
.boton-contact:hover{
background-color: rgb(136, 136, 136);
border-color: rgb(136, 136, 136);
font-weight: bold;
}

/*PARTE DEL VIDEO*/
#video .video-animado video {
  width: 100%; 
  height: auto;
  margin-top: 40px;
  object-fit: cover; 
}
/*ZONA DE ICONOS*/
#iconos{
  padding: 0 ;
  margin: 0;
  line-height: 30px;
  margin-top: 40px;
}
#contenidos-iconos{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(244, 244, 244);
}
#contenidos-iconos div{
  flex: 1;
  margin: 20px 0;
}

#contenidos-iconos ul{
  list-style: none;
}
.icono1 {
  background-color: #bdddea;
  padding: 10px 10px 10px 10px;
  border: 30px solid rgb(244, 244, 244);
  border-radius: 40px;
}
.icono2 {
  background-color: #9cc3e4;
  padding: 10px 10px 10px 10px;
  border: 30px solid rgb(244, 244, 244);
  border-radius: 40px;
  
}
.icono3 {
  background-color: #fecf9f;
  padding: 10px 10px 10px 10px;
  border: 30px solid rgb(244, 244, 244);
  border-radius: 40px;
}

#contenidos-iconos h3 {
  font-family: 'Noto Serif', serif;

}
/*RESPONSIVE*/


@media (max-width:896px) {
#video .video-animado video {
  display: none;
}
/*BANNER DE ARRIBA*/

.cartel1 {
  background-color: #ffffff;
  padding: 10px 10px 10px 10px;
  border: 0p solid rgb(244, 244, 244);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url(/images/banner_part1.png);
  background-size:100%;
  background-position:center;
  background-repeat:no-repeat;
  padding-left: 30px;
  line-height: 35px;
  
  
}
.cartel2 {
display: none;
  
}

#contenidos-cartel h1 {
  font-size: 1em;
  margin-left: 3vw;
  }
  #contenidos-cartel h2 {
    font-family: 'Noto Serif', serif;
    font-size: 1em;
    margin-left: 10vw;
  }

#contenidos-cartel{
  display: grid;
  justify-content: space-between;
  background-color: rgb(244, 244, 244);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: #ffffff;
  grid-template-columns: 1.9fr 0.1fr; /* Cambia a dos columnas de igual ancho */
}
.cartel3 {
  background-color: #ffffff;;
  padding: 10px 10px 10px 10px;
  border: 0p solid rgb(244, 244, 244);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url(/images/banner_part5.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;

}
.temas{
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide el espacio en dos columnas de igual ancho */
  gap: 5px; /* Espacio entre elementos */
  font-weight: bold;
  font-size: 2vw;
}

.contacto {
  display: grid;
  grid-template-columns: 1.7fr 0.3fr; /* Divide en dos columnas de igual ancho */
margin: 0;
grid-template-rows: 3vh;
}

.boton-contact{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  color: #ffffff;
  border: 5px solid rgb(254, 255, 255);
  background-color: rgb(25, 159, 161);
  border-radius: 10px;
  transition: all 0.4s;
  text-align: center;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: -8px;
  padding-bottom: -8px;
  margin: 0;
}

.boton-contact a{
  text-decoration: none;
  color: #ffffff;
  font-size: 2vw;

}

  /*ICONOS*/
#contenidos-iconos{
  flex-direction: column;
}
.sub{
  font-family: 'Noto Serif', serif;
  font-size: 100%;
}
ul{
  font-size: 12px;
  list-style-type: none;
}

}