/*FUENTE*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif&display=swap');
/*RESET*/
*{
margin: 0;
padding: 0;
   }
/*ESTILO DE LA LISTA*/
ul{
  font-size: 14px;
  list-style-type: none;
}

/*PARTE DEL BANNER*/
#banner{
display:flexbox;
  flex-direction: row;
  background-image: url(/images/banner_todo.png);
  background-size:100%;
  background-position:center;
  background-repeat:no-repeat;
  color: #ffffff;	
  height: auto;
  width: 100%;
  align-items: center;
  vertical-align: center;
}



/*TITULO DEL BANNER*/
.contenido-banner{
  padding-left: 3vw;
  position: relative;
}
.contenido-banner h3{
  color: rgb(0, 0, 0);
  margin-top: 1vw;
  font: 3vw helvetica;
  font-weight: bolder;
  padding-bottom:0px;
  text-align: left;
  vertical-align: center;
  margin-right: 1vw;
  white-space: nowrap;

}
/*SUBTITULO DEL BANNER*/
.contenido-banner h2{
  font-size: 2vw;
  color: rgb(0, 0, 0);
  text-align: left;
  padding-bottom:10px;
  margin-top: 2vh;
  white-space: nowrap;
}

/*TEXTO DEL BANNER*/
.contenido-banner{

  justify-content: center; /* Centra verticalmente el contenido */
  color: #000000;
  height: 100%;
  line-height: 2;
  font-weight: bolder;
  text-align: left;
  font-size: 1vw;
  white-space: nowrap;


}
.sub{
  font-family: 'Noto Serif', serif;
  font-size: 110%;
  padding-left: 30px;
}
.text{
  display: flex;
  flex-direction: column;
  margin-right: 30vh;
  font-size: 110%;
  padding-left: 60px;

}
.botext{
  display: flex;
  flex-direction: row; /* Cambia a fila para mostrar en paralelo */
  justify-content: flex-start; 
}

/*BOTÓN DE CONTACTO*/
.boton-contact{
  display: relative;
  flex-direction: row;
  margin-top: 25vh;
  margin-bottom: 5vh;
  margin-left:-5vw ;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 2vh 1.5vw;
  align-self: last baseline;
  background-color: rgb(25, 159, 161);
  border-radius: 10px;
  transition: all 0.4s;
   
}
.boton-contact:hover{
background-color: rgb(136, 136, 136);
border-color: rgb(136, 136, 136);

}
/*PARTE DEL VIDEO*/
#video .video-animado video {
  width: 100%; 
  height: auto;
  margin-top: 40px;
  object-fit: cover; 
}
/*ZONA DE ICONOS*/
#iconos{
  padding: 0 ;
  margin: 0;
  line-height: 30px;
  margin-top: 40px;
}
#contenidos-iconos{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(244, 244, 244);
}
#contenidos-iconos div{
  flex: 1;
  margin: 20px 0;
}
.icono1 {
  background-color: #bdddea;
  padding: 10px 10px 10px 10px;
  border: 30px solid rgb(244, 244, 244);
  border-radius: 40px;
}
.icono2 {
  background-color: #9cc3e4;
  padding: 10px 10px 10px 10px;
  border: 30px solid rgb(244, 244, 244);
  border-radius: 40px;
  
}
.icono3 {
  background-color: #fecf9f;
  padding: 10px 10px 10px 10px;
  border: 30px solid rgb(244, 244, 244);
  border-radius: 40px;
}

#contenidos-iconos h3 {
  font-family: 'Noto Serif', serif;

}
/*RESPONSIVE*/
@media (max-width:896px) {
#video .video-animado video {
  display: none;
}
#banner{
  padding: 0 10px;
  background-image: url(/images/banner3.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  color: #ffffff;	
  height: 500px;
  font: 80% helvetica;
}

.bannerfoto img{
display: none;
  }
  
.contenido-banner h3{
  color: rgb(255, 255, 255);
  margin-top: 90px;
  font: 4vw helvetica;
  font-weight: bold;
  padding-bottom:10px;
}
  /*ICONOS*/
#contenidos-iconos{
  flex-direction: column;
}
.sub{
  font-family: 'Noto Serif', serif;
  font-size: 100%;
}
ul{
  font-size: 12px;
  list-style-type: none;
}
.boton-contact{
  position:relative;
  margin: 0vh 0vw 10vh 10vh;

  text-decoration: none;
  color: #ffffff;
  border: 1px solid rgb(254, 255, 255);
  padding: 10px 20px;
  align-self: last baseline;
  background-color: rgb(25, 159, 161);
  border-radius: 10px;
  transition: all 0.4s;
}
}